.calendar-wrap{width:100%;min-width:20em;text-align:center;border:1px solid #CCC;background-color:#FFF;overflow:hidden;-webkit-user-select:none;user-select:none;}
.cld-header{position:relative;z-index:1;min-height:1em;background:#800050;}
.cld-main{position:relative;height:20em;transition:transform .5s;}
.cld-year-bar,
.cld-mon-bar,
.cld-date-inner,
.cld-date-show{position:absolute;width:100%;height:100%;}
.cld-date-bar{width:100%;height:100%;overflow:hidden;}
.cld-year-bar{top:-100%;}
.cld-mon-bar{top:100%;}

.cld-week-bar{position:relative;z-index:1;}
.cld-week-cell{display:inline-block;width:14.2857%;height:2em;line-height:2em;}
.cld-date-inner{height:18em;}
.cld-anim{transition:transform .5s;}
.cld-date-cell{position:relative;display:inline-block;width:14.2857%;height:16.6666%;line-height:3em;vertical-align:top;box-sizing:border-box;border-top:1px solid #CCC;cursor:pointer;transition:background-color .5s;}
.cld-date-cell:hover{background-color:#EEE;}
.cld-date-limit{color:#CCC;}

.cld-date-limit,
.cld-date-sel,
.cld-date-disabled{cursor:default;pointer-events:none;}
/* .cld-date-today{color:#FFF;background:url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20version%3D%221.1%22%0Axmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Ccircle%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%22100%22%20fill%3D%22%23303100%22/%3E%0A%3C/svg%3E) no-repeat 50% 50%;background-size:2em;} */
.cld-date-today{color:#FFF;}

.cld-date-sel,
.cld-date-today{position:relative;z-index:0;}
.cld-date-today:before,
.cld-date-sel:before{position:absolute;content:"";width:1.8em;height:1.8em;left:0;top:0;right:0;bottom:0;margin:auto;border-radius:50%;box-sizing:border-box;z-index:-1;}
.cld-date-today:before{background-color:#303100;}
.cld-date-sel:before{border:1px solid #b9121b;}

/* 头部 */
.cld-header{display:flex;align-items:center;}
.cld-move-left,
.cld-move-right{padding:1em;cursor:pointer;}
.cld-year-show:hover,
.cld-mon-show:hover,
.cld-move-left:hover,
.cld-move-right:hover{background-color:rgba(0,0,0,.2);}
.cld-move-left:before,
.cld-move-right:before{display:inline-block;content:"";width:.8em;height:.8em;border-left:1px solid #CCC;border-top:1px solid #CCC;transform:rotate(-45deg);}
.cld-move-right:before{transform:rotate(135deg);}
.cld-year-show,
.cld-mon-show,
.cld-today-show{flex:1;color:#FFF;cursor:pointer;}

/* 年份面板 && 月份面板 */
.cld-year-header,
.cld-mon-header{height:2em;line-height:2em;padding:0 1em;text-align:left;}
.cld-back-btn{float:right;cursor:pointer;}
.cld-back-btn:hover{font-weight:bold;}
.cld-year-inner,
.cld-mon-inner{height:18em;line-height:6em;}
.cld-year-prev,
.cld-year-next,
.cld-year-cell,
.cld-mon-cell{display:inline-block;width:25%;height:33.333%;box-sizing:border-box;border-top:1px solid #CCC;cursor:pointer;transition:background-color .3s;}
.cld-year-prev:hover,
.cld-year-next:hover,
.cld-year-cell:hover,
.cld-mon-cell:hover{background-color:#EEE;}
.cld-cur-year,
.cld-cur-mon{color:red;cursor: default;pointer-events:none;}


/* 周六,周日 样式 */
.cld-week-bar>.cld-week-cell:nth-of-type(6n+1),
.cld-date-show>.cld-date-cell:nth-of-type(7n+7),
.cld-date-show>.cld-date-cell:nth-of-type(7n+1){color:red;}
.cld-date-show>.cld-date-limit:nth-of-type(7n+7),
.cld-date-show>.cld-date-limit:nth-of-type(7n+1){color:#999;}

/* 活动红点 */
.cld-dot{position:absolute;left:50%;bottom:.1em;width:6px;height:6px;margin-left:-3px;border-radius:3px;background-color:red;pointer-events:none;}
